html {
    background: url('/vehicle_service/images/timeslot.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
form {
margin: 40px 0;
}

div {
clear: both;
margin: 0 50px;
}

label {
width: 200px;
border-radius: 3px;
border: 1px solid black
}

/* hide input */
input.radio:empty {
margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
position: relative;
float: left;
line-height: 2.5em;
text-indent: 3.25em;
margin-top: 2em;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input.radio:empty ~ label:before {
position: absolute;
display: block;
top: 0;
bottom: 0;
left: 0;
content: '';
width: 2.5em;
background: lightgray;
border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
content:'\2714';
text-indent: .9em;
color: green;
}

input.radio:hover:not(:checked) ~ label {
color: black;
}

/* toggle on  #9CE2AE #4DCB6D*/
input.radio:checked ~ label:before {
content:'\2714';
text-indent: .9em;
color: skyblue; 
background-color: green ;
}

input.radio:checked ~ label {
color: black;
}

/* radio focus */
input.radio:focus ~ label:before {
box-shadow: 0 0 0 3px darkgray;
}
a{
    background-color: black;
    border: 10px;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color:white;
    
    
}
